#content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content-wrapper > * {
    padding-left: 3em;
    padding-right: 3em;
}

body {
    padding: 5em;
}